@using ProjetoEscolaMJV.Models
@using ProjetoEscolaMJV.Enums
@model AlunoModel

<div class="container mt-5 Quadro-Dados">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th width="22%">Nome:</th>
                <td colspan="3">@Model.Nome</td>
            </tr>
            <tr>
                <th>E-mail:</th>
                <td colspan="3">@Model.Email</td>
            </tr>
            <tr>
                <th width="22%">Login:</th>
                <td colspan="3">@Model.Login</td>
            </tr>
            <tr>
                <th width="22%">Série:</th>
                @if (Model.Serie == Series.PrimeiroAno)
                {
                    <td>1º Ano</td>
                }
                else if (Model.Serie == Series.SegundoAno)
                {
                    <td>2º Ano</td>
                }
                else
                {
                    <td>3º Ano</td>
                }
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center">

        <a class="btn btn-block botoes_dados" asp-controller="Aluno" asp-action="Editar" asp-route-id="@Model.Id" role="button">Editar</a>

        <a class="btn btn-block botoes_dados" asp-controller="Aluno" asp-action="Index" asp-route-id="@Model.Id" role="button">Voltar</a>

    </div>

</div>